<div class="content">
  <h2>Chcesz wynająć lokal lub zarezerwować stolik?</h2>
  <p>Sprawdź na poniższym kalendarzu czy wybrany przez Ciebie termin jest wolny i zadzwoń do nas lub napisz e-mail | DODATKOWE FUNKCJE: FORMULARZ KONTAKTOWY?</p>
  <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=pl.polish%23holiday%40group.v.calendar.google.com&amp;color=%23A32929&amp;ctz=Europe%2FWarsaw" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputDate">Data</label>
    <div class="controls">
      <input type="text" class="span2" value="" id="inputDate" placeholder="dd-mm-rrrr">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTime">Godzina</label>
    <div class="controls">
      <input class="timepicker-2" type="text" id="inputTime" style="width: 60px;" placeholder="hh:mm">
      <i class="icon-time" style="margin: 0 0 0 -22.5px; pointer-events: none; position: relative;"></i>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTables">Stoliki</label>
    <div class="controls">
      <select class="span1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputClient">Nazwisko</label>
    <div class="controls">
      <input type="text" class="span2" id="inputClient" placeholder="Kowalski">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Rezerwuj!</button>
    </div>
  </div>
</form>





<script>

 $(function() {
     window.prettyPrint && prettyPrint();
     $('#inputDate').datepicker({
        format: 'mm-dd-yyyy'
     });
  });

  $(document).ready(function () {
     $('.timepicker-default').timepicker();

     $('.timepicker-2').timepicker({
        minuteStep: 30,
        showInputs: false,
        disableFocus: true,
        showMeridian: false
     });
  });
</script>

