<!-- Subnav partial for sessions controller -->

<!-- Action: new -->

<hr style="margin-top: 0">

<!-- <div class="row"> -->
<!--   <div class="span12"> -->
<!--     <ul class="breadcrumb"> -->
<!--       <li>Zaloguj lub zarejestruj się aby przejść dalej!</li> -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
