<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h5 id="alert alert-error">
      The form contains <%= pluralize( object.errors.count, "error")%>:
    </h5>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
