<!-- <div style="height:496px" class="carousel slide" id="myCarousel"> -->
<!--             <div style="border-radius:6px" class="carousel-inner"> -->
<!--               <div class="item active"> -->
<!--                 <img style="margin-left:auto;margin-right:auto" alt="" src="<%#= asset_path "logo.png" %>"> -->
<!--                 <\!-- <div class="carousel-caption"> -\-> -->
<!--                 <\!--   <h4>First Thumbnail label</h4> -\-> -->
<!--                 <\!--   <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -\-> -->
<!--                 <\!-- </div> -\-> -->
<!--               </div> -->
<!--               <div class="item"> -->
<!--                 <img style="margin-left:auto;margin-right:auto" alt="" src="<%#= asset_path "carousel_photo_01.jpg" %>"> -->
<!--                 <div class="carousel-caption"> -->
<!--                   <h4>Second Thumbnail label</h4> -->
<!--                   <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <div class="item"> -->
<!--                 <img style="margin-left:auto;margin-right:auto" alt="" src="<%#= asset_path "carousel_photo_02.jpg" %>"> -->
<!--                 <div class="carousel-caption"> -->
<!--                   <h4>Third Thumbnail label</h4> -->
<!--                   <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
<!--                 </div> -->
<!--               </div> -->
<!--             </div> -->
<!--             <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a> -->
<!--             <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> -->
<!--           </div> -->


<!-- carousel isn`t working on heroku: -->

<!-- log: -->
<!-- Started GET "/" for 78.88.197.122 at 2012-05-21 16:08:31 +0000 -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m Processing by HomeController#index as HTML -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m   Rendered categories/_tabs.html.erb (6.4ms) -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m   Rendered home/_slider2.html.erb (1.1ms) -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m   Rendered home/index.html.erb within layouts/application (8.6ms) -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m Completed 500 Internal Server Error in 15ms -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m  -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m ActionView::Template::Error (bootstrap-carousel.js isn't precompiled): -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     5:     <title><%#= full_title(yield(:title)) %></title> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     7:     <%#= javascript_include_tag "application" %> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     6:     <%#= stylesheet_link_tag    "application", :media => "all" %> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     8:     <%#= javascript_include_tag "bootstrap-carousel" %> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     10:   </head> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     9:     <%#= csrf_meta_tags %> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m     11:   <body> -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m   app/views/layouts/application.html.erb:8:in `_app_views_layouts_application_html_erb___2831857474455084819_32453580' -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m  -->
<!-- [36m2012-05-21T16:08:31+00:00 app[web.1]:[0m  -->
<!-- [33m2012-05-21T16:08:31+00:00 heroku[router]:[0m GET margherita.herokuapp.com/ dyno=web.1 queue=0 wait=0ms service=27ms status=500 bytes=643 -->
<!-- [36m2012-05-21T16:08:32+00:00 app[web.1]:[0m  -->
<!-- [36m2012-05-21T16:08:32+00:00 app[web.1]:[0m  -->
<!-- [36m2012-05-21T16:08:32+00:00 app[web.1]:[0m  -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
