<%= render 'categories/tabs' %>

<div class="content-inner">
  <%= render 'home/slider' %>
</div>

<div class="bottom-register">
  <span>
    Jesteś już zarejestrowany? Dodatkowe promocje czekają na ciebie! &nbsp
  </span>
  <a class="btn btn-success">Rejestracja</a>
</div>
