<%= render 'home/carousel' %>
<div class="row-fluid">
  <div class="span4 well">
    <h3>Super opcja 1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ante risus, eget ultricies nulla. Praesent leo lorem, egestas eu gravida sed, semper in ipsum.
    </p>
    <p>
      <%= link_to "Zobacz to", "#", class: "btn btn-primary btn-block btn-large" %>
    </p>
  </div>
  <div class="span4 well">
    <h3>Super opcja 2</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ante risus, eget ultricies nulla. Praesent leo lorem, egestas eu gravida sed, semper in ipsum.
    </p>
    <p>
      <%= link_to "Sprawdź to", "#", class: "btn btn-primary btn-block btn-large" %>
    </p>
  </div>
  <div class="span4">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpizzeriakuznia&amp;width=292&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=whitesmoke&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:350px;" allowTransparency="true"></iframe>
    <!-- <h3>Super opcja 3</h3> -->
    <!-- <p> -->
    <!--   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ante risus, eget ultricies nulla. Praesent leo lorem, egestas eu gravida sed, semper in ipsum. -->
    <!-- </p> -->
    <!-- <p> -->
    <!--   <%= link_to "Ogarnij to", "#", class: "btn btn-primary btn-block btn-large" %> -->
    <!-- </p> -->
  </div>
</div>
