<%= render 'categories/tabs' %>

<div class="content-inner">
  <%= render 'home/slider2' %>
</div>

<div class="bottom-register">
  <span>
    Jesteś już zarejestrowany? Dodatkowe promocje czekają na ciebie! &nbsp
  </span>
      <%= link_to "Rejestracja", signup_path, :class => "btn btn-success" %>
</div>
