<%= render 'home/carousel' %>
<div class="row-fluid">
  <div class="span4 well">
      <h3>Super opcja 1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ante risus, eget ultricies nulla. Praesent leo lorem, egestas eu gravida sed, semper in ipsum.
    </p>
    <p>
      <%= link_to "Zobacz to", "#", class: "btn btn-primary btn-block btn-large" %>
    </p>
  </div>
  <div class="span4 well">
    <h3>Super opcja 2</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ante risus, eget ultricies nulla. Praesent leo lorem, egestas eu gravida sed, semper in ipsum.
    </p>
    <p>
      <%= link_to "Sprawdź to", "#", class: "btn btn-primary btn-block btn-large" %>
    </p>
  </div>
  <div class="span4 well">
    <h3>Super opcja 3</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ante risus, eget ultricies nulla. Praesent leo lorem, egestas eu gravida sed, semper in ipsum.
    </p>
    <p>
      <%= link_to "Ogarnij to", "#", class: "btn btn-primary btn-block btn-large" %>
    </p>
  </div>
</div>
