<%= render 'home/carousel' %>
<div class="row-fluid"
     <div class="span12"
          style="background-color: #390000;
                 border-radius: 6px">
       <div class="row-fluid">
         <div class="span4"
              style="padding: 15px 0 15px 15px; color: whiteSmoke">
           <h2>Odwiedź nas</h2>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
             suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
             aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
           </p>
           <p><%= link_to "Przejdź do menu", products_path, class: "btn btn-success btn-large" %>
         </div>
         <div class="span4"
              style="padding: 15px 0 15px 15px; color: whiteSmoke">
           <h2>Zamów catering</h2>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
             suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
             aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
           </p>
           <p><%= link_to "Skontaktuj się z nami", products_path, class: "btn btn-success btn-large" %>
         </div>
         <div class="span4"
              style="padding: 15px; color: whiteSmoke">
           <h2>Wynajmij salę</h2>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
             suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
             aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
           </p>
           <p><%= link_to "Skontaktuj się z nami", products_path, class: "btn btn-success btn-large" %>
         </div>
       </div>
     </div>
</div>
