<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

Gowno kalisz ;)<br />
test

<br />
<% Product.all.each do |product| %>
  <%= product.name %> | <%= product.price_in_dolars %><br />

<% end %>
