<div class="order-steps">
  <% if step == 1 %>
    <div class="well bg-info">
      <p class="lead">1. Basket</p>
      <hr>
      <p>
        Sprawdź czy zawartość koszyka się zgadza. Jeżeli chciałbyś zwiększyc bądź zmniejszyć liczbę wybranych produktów użyj do tego przycisków <i class="icon-chevron-left"></i>/<i class="icon-chevron-right"></i>. Jeżeli chciałbyś usunąć wybrany produkt kliknij <i class="icon-remove"></i>
      </p>
    </div>
    <div class="well">
      <a href="<%= url_for new_order_path %>">
        2. Delivery
      </a>
    </div>
    <div class="well">
      <a href="#">
        3. Summary
      </a>
    </div>
  <% elsif step == 2 %>
    <div class="well">
      <a href="<%= url_for new_cart_path %>">
        1. Basket
      </a>
    </div>
    <div class="well bg-info">
      <p class="lead">2. Delivery</p>
      <hr>
      <p>
        Sprawdź czy zawartość koszyka się zgadza. Jeżeli chciałbyś zwiększyc bądź zmniejszyć liczbę wybranych produktów użyj do tego przycisków <i class="icon-chevron-left"></i> lub <i class="icon-chevron-right"></i>. Jeżeli chciałbyś usunąć wybrany produkt kliknij <i class="icon-remove"></i>
      </p>
    </div>
    <div class="well">
      <a href="#">
        3. Summary
      </a>
    </div>
  <% elsif step == 3 %>
    <div class="well">
      <a href="<%= url_for new_cart_path %>">
        1. Basket
      </a>
    </div>
    <div class="well">
      <a href="<%= url_for new_order_path %>">
        2. Delivery
      </a>
    </div>
    <div class="well bg-success">
      <p class="lead" class="white">3. Summary</p>
      <hr>
      <p>
        Sprawdź czy zawartość koszyka się zgadza. Jeżeli chciałbyś zwiększyc bądź zmniejszyć liczbę wybranych produktów użyj do tego przycisków <i class="icon-chevron-left"></i>/<i class="icon-chevron-right"></i>. Jeżeli chciałbyś usunąć wybrany produkt kliknij <i class="icon-remove"></i>
      </p>
    </div>
  <% end %>
</div>
