<ul class="breadcrumb">

  <% if current_page?(orders_path(filter: 'all', pending: true, history: true)) %>
    <li class="active"><i class="icon icon-th-list"></i>
      All
      <span class="divider">/</span>
    </li>
  <% else %>
    <li><i class="icon icon-th-list"></i>
      <%= link_to 'All', orders_path(filter: 'all', pending: true, history: true) %>
      <span class="divider">/</span>
    </li>
  <% end %>

  <% if current_page?(orders_path(pending: true)) %>
    <li class="active"><i class="icon icon-refresh"></i>
      Pending
      <span class="divider">/</span>
    </li>
  <% else %>
    <li><i class="icon icon-refresh"></i>
      <%= link_to 'Pending', orders_path(pending: true) %>
      <span class="divider">/</span>
    </li>
  <% end %>

  <% if current_page?(orders_path(history: true)) %>
    <li class="active"><i class="icon icon-book"></i>
      History
    </li>
  <% else %>
    <li><i class="icon icon-book"></i>
      <%= link_to 'History', orders_path(history: true) %>
    </li>
  <% end %>

</ul>
