<% if step == 1 %>
  <div class="order-steps alert">
    <legend>Krok&nbsp;1: Koszyk</legend>
    <p>
      Sprawdź czy zawartość koszyka się zgadza. Jeżeli chciałbyś zwiększyc bądź zmniejszyć liczbę wybranych produktów użyj do tego przycisków <i class="icon-chevron-left"></i>/<i class="icon-chevron-right"></i>. Jeżeli chciałbyś usunąć wybrany produkt kliknij <i class="icon-remove"></i>.
    </p>
  </div>
  <div class="order-steps well">
    <legend>Krok&nbsp;2: Adres</legend>
  </div>
  <div class="order-steps well">
    <legend>Krok&nbsp;3: Potwierdzenie</legend>
  </div>
<% elsif step == 2 %>
  <div class="order-steps well">
    <legend>Krok&nbsp;1: Koszyk</legend>
  </div>
  <div class="order-steps alert">
    <legend>Krok&nbsp;2: Adres</legend>
    <p>
      Sprawdź czy zawartość koszyka się zgadza. Jeżeli chciałbyś zwiększyc bądź zmniejszyć liczbę wybranych produktów użyj do tego przycisków <i class="icon-chevron-left"></i> lub <i class="icon-chevron-right"></i>. Jeżeli chciałbyś usunąć wybrany produkt kliknij <i class="icon-remove"></i>.
    </p>
  </div>
  <div class="order-steps well">
    <legend>Krok&nbsp;3: Potwierdzenie</legend>
  </div>
<% elsif step == 3 %>
  <div class="order-steps well">
    <legend>Krok&nbsp;1: Koszyk</legend>
  </div>
  <div class="order-steps well">
    <legend>Krok&nbsp;2: Adres</legend>
  </div>
  <div class="order-steps alert">
    <legend>Krok&nbsp;3: Potwierdzenie</legend>
    <!-- <p> -->
    <!--   Sprawdź czy zawartość koszyka się zgadza. Jeżeli chciałbyś zwiększyc bądź zmniejszyć liczbę wybranych produktów użyj do tego przycisków <i class="icon-chevron-left"></i>/<i class="icon-chevron-right"></i>. Jeżeli chciałbyś usunąć wybrany produkt kliknij <i class="icon-remove"></i>. -->
    <!-- </p> -->
  </div>
<% end %>
