<!-- Subnav partial for orders controller -->

<!-- Action: new -->

<div class="row">
  <div class="span3">
    <ul class="breadcrumb breadcrumb-darker">
      <li>Postęp zamówienia</li>
      <li class="pull-right"><i class="icon-chevron-down"></i></li>
    </ul>
  </div>
  <div class="span9">
    <ul class="breadcrumb breadcrumb-alert">
      <li>
        <span class="title">Krok 2/3</span>
        &raquo; Wprowadź swoje dane osobowe
      </li>
      <li class="pull-right"><i class="icon-edit"></i></li>
    </ul>
  </div>
</div>
