<%# session[:checkout] = true %>
<div class="row-fluid">
  <div class="span3 hidden-phone">
    <%= render "orders/steps", :step => 2%>
  </div>
  <div class="span9">
    <%= form_for(@order, :url => { :action => "create" },
             :html => {:class => "form-horizontal"}) do |f| %>

      <% if session[:checkout] %>
        <%= render "orders/checkout", :f => f %>
      <% else %>
        <%= render "orders/transport_data", :f => f %>
      <% end %>

    <% end %>
  </div>
</div>
