<div class="row-fluid">
    <div class="span3 hidden-phone">
      <%= render "orders/progress_steps_help", :step => 2 %>
    </div>
  <div class="span9">
    <%= form_for(@order, :url => { :action => "checkout" },
             :html => {:class => "form-horizontal"}) do |f| %>
        <%= render "shared/error_messages", :object => @order %>
        <%= render "orders/shipping_info_form", :f => f %>
    <% end %>
  </div>
</div>
nn
