<!-- Subnav partial for carts controller -->

<div class="row">
  <div class="span9">
    <ul class="breadcrumb breadcrumb-alert">
      <li>
        <span class="title">Krok 1/3</span>
        &raquo; Edytuj i/lub potwierdź zawartość koszyka
      </li>
      <li class="pull-right"><i class="icon-edit"></i></li>
    </ul>
  </div>
  <div class="span3">
    <ul class="breadcrumb breadcrumb-darker">
      <li>Postęp zamówienia</li>
      <li class="pull-right"><i class="icon-chevron-down"></i></li>
    </ul>
  </div>
</div>

