<div class="row-fluid">
  <div class="span3 hidden-phone">
    <%= render "orders/progress_steps_help", :step => 1 %>
  </div>
  <div class="span9">
    <%= render 'line_items/for_large_cart'%>
  </div>
</div>
