<h3>Categories</h3>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Category Name</th>
      <th>Products #</th>
      <th style="text-align: right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.sort.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.products.count %></td>
        <td style="text-align: right">
          <button class="btn btn-warning">Edit</button>
          <button class="btn btn-submit">Show</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
