// stylesheet for carts

// Cart#1: small cart aside products list

.cart-small ul {
    margin-left: 0;
    list-style: none;
    margin-top: 10px;
    li.line-items-list {
        margin: 10px 0;
        .column-one {
            width: 75%;
            float: left;
            .item-quantity {
                width: 12px;
                float: left;
            }
            .item-name, .item-category {
                padding-left: 12px;
            }
        }
        .column-two {
            width: 25%;
            float: left;
            .item-remove, .item-price {
                float: right;
                button { padding: 0 }
            }
        }
    }
    li.line-items-summary {
        padding: 18px 0 10px 0;
        border-top: 2px solid #333;
        .column-one {
            width: 70%;
            float: left;
        }
        .column-two {
            width: 30%;
            float: left;
        }
    }
    li.line-items-empty {
        text-align: center;
        padding: 5px 0 15px 0;
    }
}
