#page {
    background: white repeat-y scroll 0px 0px;
    margin: 20px auto auto;
    margin-top: 20px;
    padding: 0px 7px;
    width: 986px;
}

#sidebar {
    background-color: #F0F0F0;
    overflow: hidden;
    padding-left: 10px;
    width: 310px;
}

.sidebarbox {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
}

#searchbox {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    margin-right: 400px;
}

#content-left {
    float: left;
    width: 640px;
}
#navi {
    border-bottom: 1px solid #CCC;
    margin: 0;
    height: 40px;
    background-color: white;
}

#content-container {
    margin: 10px;
    padding-top: 10px;
}

#footer {
    border-top: 1px solid #CCC;
    clear: both;
    color: #666;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    font-size: 80%;
    margin: 50px 0 0 0;
    padding: 50px auto 30px auto;

}

hr {
    border: ;
    border-top: 1px dashed #CCC;
    height: 1px;
    margin: 20px 20px 20px 0px;
    margin-left: 0px;
    text-align: left;
}
