// Custom Bootstrap CSS

// COLORS
@bg-pale-color: #fefefe;
@border-color: #ddd;
@font-pale-color: #666;
@red: #d35a5a;

// LAYOUT
@border-radius: 5px;


body {
    padding: 60px;
    background: white; // #efefef;
}

.hero-unit {
    padding-top: 50px;
    padding-bottom: 40px;
}

form {
    margin: 0;
}

.sign-in-modal {
    width: 255px;
    margin: -240px  0 0 -127px;
}

.categories {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
        float: left;
        width: 100%;
        border: 1px solid @border-color;
        background-color: @bg-pale-color;
        border-radius: @border-radius;
        margin-bottom: 15px;
        list-style-type: none;
        .info {
            position: relative;
            float: left;
            width: 370px;
            margin: 15px 15px 20px 0;
            padding-left: 45px;
            h3 {
                text-transform: uppercase;
                line-height: 26px;
                margin: 0;
                a {
                    color: #444;
                    &:hover {text-decoration: underline}
                }
            }
            p {
                font-size: 12px;
                color: @font-pale-color;
                line-height: 14px;
            }
            .products-count {
                position: absolute;
                top: 95px;
                left: 45px;
                a {
                    font-size: 14px;
                    color: @red;
                    &:hover {color: saturate(@red, 10%)}
                }
            }
        }
        .products-icons {
            position: relative;
            clear: none;
            min-width: 235px;
            height: 112px;
            display: block;
            margin: 16px;
            margin-right: 0;
            padding: 0;
            overflow: hidden;
            li {
                float: left;
                width: 110px;
                height: 110px;
                margin: 0 0 0 7px;
                padding: 0;
                box-shadow: none;
                border: 1px solid #E2E2E2;
                img {
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }
}
