// Custom Bootstrap CSS

// COLORS
@bg-pale-color: #fefefe;
@border-color: #ddd;
@font-pale-color: #666;
@red: #d35a5a;

// LAYOUT
@border-radius: 5px;


body {
    background-color: white; // #efefef;
}

.hero-unit {
    padding-top: 50px;
    padding-bottom: 40px;
}

form {
    margin: 0;
}

.sign-in-modal {
    width: 255px;
    margin: -240px  0 0 -127px;
}

