body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#home-nav {
  margin: 5px;
  float: left;
  font-size: 12px;
}

#user-nav {
  margin: 5px;
  float: right;
  font-size: 12px;
}

#yield {
  widht: 90%;
  margin: 20px auto;
}

#detail-table {
    background-color: #F0F0F0;
    border: solid 1px black;
    margin: 0 30px 10px 0;
    padding: 5px 5px 5px 5px;
}
