/* Products thumbnails stylesheet */

// Colors:
@th-bg: #fff;
@cat-header-color: #555;
@cat-small-color: #7c7c7c;
@title-color: #555;
@price-color: #d35a5a;

// Metrics:
@th-width: 210px;


.content {
    .thumbnails {
        .span3a {
            width: @th-width;
            .thumbnail {
                background-color: @th-bg;
                box-shadow: 0 3px 5px #ccc;
                padding: 8px;
                line-height: 15px;
                .caption {
                    padding: 5px 0 0 0;
                    .category {
                        font-size: 11px;
                        text-transform: uppercase;
                        color: @cat-small-color;
                    }
                    .title {
                        color: @title-color;
                        font-weight: bold;
                        font-size: 12px;
                        text-transform: uppercase;
                        clear: both;
                        display: block;
                        margin-bottom: 5px;
                    }
                    .price {
                        color: @price-color;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 32px;
                    }
                    .btn {
                        float: right;
                        width: auto;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.price {
    color: @price-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-to-cart {
    position: absolute;
    bottom: 0;
    top: 83px;
}

.add-to-fav {
    position: absolute;
    top: 0;
    right: 0;
}

