<div class="btn-group center">
  <% @categories.each do |category| %>
    <a href="<%= category_products_path(category) %>"
       class="btn btn-large <%= category == @parent ? "active" : "" %>">
      <%= category.name %>
    </a>
  <% end %>
</div>
