<%= form_for(@category) do |f| %>

  <div class="field" %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
