<!-- NAV-PILLS-STYLED SUBNAV CATEGORIES LIST-->
<div class="subnav">
  <ul class="nav nav-pills">
    <% @categories.sort.each do |category| %> <!-- Manual order should to be possible -->
      <% anchor = category.anchor_name %>
      <li class="<%= params[:id] == anchor ? 'active' : '' %>">
        <%=
           link_to_if(params[:controller] == 'products' && params[:action] == "index", category.name, '#' + anchor, { :'data-toggle' => 'tab' }) do
             link_to(category.name, { controller: 'products', action: 'index', id: anchor })
           end
           %>
      </li>
    <% end %>
  </ul>
</div>
