<ul class="nav nav-pills">
  <% @categories.each do |category| %>
    <li class="<%= category == @parent ? "active" : "" %>">
      <a href="<%= category_products_path(category) %>">
      <%= category.name %>
      </a>
    </li>
  <% end %>
</ul>



