<div id="talltabs-container">
<div id="talltabs-maroon">
  <ul>
    <% @categories.each do |category| %>
      <li class="<%= category == @parent ? "active" : "" %>">
        <%= link_to category.name, category_products_path(category) %>
      </li>
    <% end %>
  </ul>
</div>
</div>
