<!-- Subnav partial for products controller -->

<div class="row">
  <div class="span9 span-expand">
    <%= render 'categories/subhead_nav_pills', :categories => Category.manual_order %>
  </div>
  <div class="span3 visible-desktop">
    <ul class="breadcrumb">
      <li>
        <i class="icon-shopping-cart"></i>&nbsp;Koszyk
      </li>
    </ul>
  </div>
</div>
