<div class="row">
  <!-- <div class="span2"> -->
  <!--   <%= render 'categories/left_affix' %> -->
  <!--   </div> -->
  <div class="span9" style="margin-top: 20px">
    <%= render 'categories/grid' %>
    <%= render 'products/stacked' %>
  </div>
</div>

