<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span2">
    <div class="thumbnail">
      <img alt="" src="<%=asset_path "pizza.jpg"%>">
      <div class="center caption">
        <h5><%=product.name.upcase%></h5>
        <p>Litwo ojczyzno moja pieczarki, salami, oliwki, sratatata.</p>
        <p><a class="btn btn-primary">Zamów | <%=product.price%>zł</a></p>
      </div>
    </div>
  </li>
<% end %>
</ul>
