<div class="row">
  <div class="span9">
    <!-- <%= render 'categories/pills' %> -->
    <%= render 'products/stacked' %>
  </div>
  <div class="span3">
    <%= render 'line_items/aside' %>
  </div>
</div>

