<%= render 'categories/tabs' %>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span3">
    <a href="#">
      <div class="thumbnail">
      <img alt="" src="<%=asset_path "pizza.jpg"%>">
      <div class="caption">
        <h4 id="name"><%= product.name.upcase%></h4>
        <p id="description"><%= product.description %></p>
        <!-- <p id="button_buy"><a class="btn btn-primary">ZAMÓW TERAZ</a></p> -->
      </div>
    </div>
</a>
  </li>
<% end %>
</ul>
