<div class="row">
  <div class="span9">
    <%= render 'products/nav_pills_tab_content' %>
  </div>
  <div id="shopping-list-container" class="span3">
    <%= render 'line_items/shopping_list' %>
  </div>
</div>

