<div class="row">
  <div class="span9">
    <!-- <%= render 'categories/pills' %> -->
    <%= render 'products/tab_content_table' %>
  </div>
  <div class="span3">
    <%= render 'line_items/aside_product_list' %>
  </div>
</div>

