<%= render 'categories/tabs' %>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span2">
    <div class="thumbnail">
      <img alt="" src="<%=asset_path "pizza.jpg"%>">
      <div class="center caption">
        <h5><%= product.name.upcase%></h5>
        <p><%= product.description %></p>
        <p><a class="btn btn-primary">ZAMÓW</a></p>
      </div>
    </div>
  </li>
<% end %>
</ul>
