<div class="row" style="margin-top:60px">
  <div class="span8">
    <%= render 'categories/pills' %>
    <%= render 'products/stacked' %>
  </div>
  <div class="span4">
    <%= render 'line_items/aside' %>
  </div>
</div>

