<div class="content">
  <ul class="thumbnails">
    <% @products.each do |product| %>
      <li class="span3a">
        <div class="thumbnail">
          <img alt="" src="http://placehold.it/260x180">
          <div class="caption center">
            <h4> <%= product.name %> </h4>
            <a class="btn btn-primary">Zamów</a>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="aside">
<h2 class="center">FUTURE SHIT</h2>
</div>
