<!-- content -->
<div class="content">
  <div class="content-inner">
    <div class="center content-icons">
      <img src="<%=asset_path "icon-menu.png"%>"
      </img>
      <img src="<%=asset_path "icon-unkn.png"%>"
      </img>
    </div>
  </div>
  <div class="bottom-register">
    <span>
      Tutaj można się zesrać lub dać guzik:
    </span>
    <a class="btn btn-primary">Rejestruj</a>
  </div>
</div>
