<!-- footer -->
<footer class="footer">
  <div class="center">
    This site is written by
    <a href="https://github.com/n0stromo">n0stromo</a> and
    <a href="https://github.com/tomjoad">tomjoad</a>
  </div>
</footer>
