<!-- footer -->
<footer class="footer">
  <div class="center">
    Made with
    <a href="http://getbootstrap.com/", target=_blank>Bootstrap</a>
    by
    <a href="http://www.pleasedontduet.com", target=_blank>PleaseDontDuet Co.</a>
    <!-- <a href="https://github.com/n0stromo">n0stromo</a> and -->
    <!-- <a href="https://github.com/tomjoad">tomjoad</a> -->
  </div>
</footer>
