<!-- footer -->
<div id="footer">
  <div class="container">
    <!-- Made with -->
    <!-- <a href="https://github.com/twitter/bootstrap", target=_blank>Bootstrap</a> -->
    <!-- by -->
    <div class="row-fluid">
      <div class="span12">
        <p>
          &copy; 2013 Margherita by
          <a href="http://www.pleasedontduet.com", target="_blank">
            PleaseDontDuet Co.
          </a>
        </p>
      </div>
      <!-- <div class="span6"> -->
      <!--   <p class="pull-right"> -->
      <!--     You are: <span style="text-transform:capitalize"><%= display_user_role %></span> -->
      <!--   </p> -->
      <!-- </div> -->
    </div>
  </div>
</div>
