<!-- footer -->
<div class="divider"></div>
<footer class="footer">
  <!-- Made with -->
  <!-- <a href="https://github.com/twitter/bootstrap", target=_blank>Bootstrap</a> -->
  <!-- by -->
  <a href="http://www.pleasedontduet.com", target=_blank>&copy PleaseDontDuet Co.</a>
  <a class="pull-right">
    You are: <span style="text-transform:capitalize"><%= display_user_role %></span>
  </a>
  <!-- <a href="https://github.com/n0stromo">n0stromo</a> and -->
  <!-- <a href="https://github.com/tomjoad">tomjoad</a> -->
</footer>
