<!-- Masthead
     ================================================== -->
<header class="jumbotron subhead" id="overview">
  <!-- Error Messages -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="row-fluid">
    <div class="span8">
      <h1>Kuźnia<small> cafe&nbsp;&&nbsp;pizza</small></h1>
      <!-- <p class="lead">restauracja rodzinna</p> -->
    </div>
    <div class="span4">
    </div>
  </div>
  <%= render params[:controller] + "/subnav" %>
</header>
