<ul class="nav pull-right" style="margin-right: 0">
  <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-user icon-white"></i> <%= current_user.email %> <i class="caret"></i>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-header">User Menu</li>
      <li><%= link_to "View Orders", orders_path(filter: 'all') %></li>
      <li><%= link_to "View/Edit Profile", user_path(current_user) %></li>
      <li>
        <%= button_to "Sign Out", signout_path, method: "delete", class: "btn btn-block btn-danger" %>
      </li>
    </ul>
  </li>
</ul>
